.App {
  text-align: center;
}

.App h1 {
  letter-spacing: -1px;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 50em;
  margin: 0rem auto;
  padding: 1rem;
  justify-content: space-between;
  background: aliceblue;
  border-radius: 15px;
  margin-bottom: 5px;
}

.listHeader {
  display: flex;
  align-items: center;
}

.listHeader h2 {
  color: rgb(37, 36, 36);
  letter-spacing: -1px;
}

.listImg {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-right: 0.5rem;
  object-fit: cover;
}

.listNote {
  width: 30%;
  text-align: left;
}

.addToList {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto;
  background: thistle;
  border-radius: 15px;
  padding: 30px;
}

.addToList-input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.3rem 0rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.addToList-select {
  border: none;
  outline: none;
  margin: 0.3rem 0rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
}

.addToList-btn {
  padding: 0.5rem;
  cursor: pointer;
  background: darkslateblue;
  color: aliceblue;
  font-weight: 700;
  border: none;
  outline: none;
}